@using ExhibitionCurationPlatform.Context
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager Navigation

<button class="btn btn-link nav-link" @onclick="Logout">Logout</button>

@code {
    private async Task Logout()
    {
        await SignInManager.SignOutAsync();
    }
}
