@using ExhibitionCurationPlatform.Models
@code {
    [Parameter] public Artwork Artwork { get; set; } = default!;
}
<div class="container my-4 d-flex justify-content-center">
    <div style="max-width: 1200px;">
        <ArtworkCard Artwork="Artwork" />
    </div>
</div>
